[submodule "system"]
	path = system
	url = https://github.com/morgante/system.git
[submodule "user/plugins/jambo"]
	path = user/plugins/jambo
	url = git@github.com:habari-extras/jambo.git
[submodule "user/plugins/hivefood"]
	path = user/plugins/hivefood
	url = https://github.com/morgante/hivefood.git
[submodule "user/plugins/mpango"]
	path = user/plugins/mpango
	url = https://github.com/habari-extras/mpango.git
[submodule "user/plugins/virtus"]
	path = user/plugins/virtus
	url = https://github.com/morgante/virtus.git
[submodule "user/themes/scientist"]
	path = user/themes/scientist
	url = https://github.com/habari-extras/scientist.git
