.tilepage {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.navigation {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;

  transition: 1s;

  &:hover {
    width: 30%;
  }

  &.active {
    width: 900%;
  }
}
