.container, .proxy {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}

.container {
  z-index: 3;
}

.proxy {
  z-index: 10;
  position: absolute;
  left: 0;
  top: 0;
  width: 5000px;
  height: 5000px;
}
