.tile {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.home {
  composes: tile;
  width: 80%;
  background: #03A9F4;
  transition: 1s;

  &:hover {
    width: 100%;
  }
}

.about, .services, .portfolio, .contact {
  composes: tile;
  height: 33%;
  transition: 1s;

  a.pagelink {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    text-decoration: none;
  }

  &:hover {
    height: 50%;
  }

  &.active {
    height: 200%;
    position: relative;
  }
}

.about {
  background: #009688;
  height: 34%;

  &.active {
    background: #F3F3F3;
  }
}

.services {
  background: #E91E63;

  &.active {
    background: #FCE4EC;
  }
}

.portfolio, .contact {
  background: #F44336;

  &.active {
    background: #FFEBEE;
  }
}
